html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
    color: antiquewhite;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    text-align: left;
    height: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(https://thumbs.dreamstime.com/b/doctor-hospital-background-copy-space-doctor-hospital-background-copy-space-healthcare-medical-concept-108682352.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1em;
}

.maprouter {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    position:absolute;
    text-align:right;
    /* height:600px; */
    width:1000px;
}


@media only screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .maprouter {
        width: 100%;
        flex: 1;
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    body {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}
